{
  "name"        : "{{project.name}}",
  "author"      : "{{project.author}}",
  "version"     : "{{project.version}}",
  "description" : "{{project.description}}",

  "main" : "./app",

  "dependencies": {
    "@onehilltech/blueprint": "^{{blueprint.version}}",
    "winston": "^1.0.1"
  }
}
