{
  "name": "{{name}}",
  "author": "{{author}}",
  "version": "{{version}}",
  "description": "{{description}}",

  "main": "./app.js",

  "dependencies": {
    "blueprint": "git@github.com:onehilltech/blueprint.git"
  },
  "scripts": {
    "start": "node ./app.js"
  }
}
