{
  "name": "{{name}}",
  "author": "{{author}}",
  "version": "{{version}}",
  "description": "{{description}}",

  "main": "./app",

  "dependencies": {
    "xpression": "git@github.com:onehilltech/xpression.git",
    "winston": "^1.0.1"
  }
}
